.users__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;

  & li {
   max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .users__list {
    grid-template-columns: 1fr;

    & li {
      max-width: 100%;
    }
  }
}
